@import 'vendor/bourbon/bourbon';
@import 'vendor/base/base';
@import 'vendor/neat/neat';
@import 'components/page';
@import 'components/filters';

body {
  @include outer-container;
  background: #f5f5f5;
}

.Data {
  $border-color: #553982;
  $border-width: 6px;
  $background-color: #fff;
  @include border-color(null null null $border-color);
  @include border-width(null null null $border-width);
  @include border-style(null null null solid);
  @include transition(all .25s ease-in-out);
  @include margin(null null 1rem);
  @include padding(1rem);
  background-color: $background-color;
}
